<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="blue">
                Ci Type Manager
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button (click)="openModal()" class="btn btn-success"><i
                                    class="glyphicon glyphicon-plus"></i> Dodaj
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <hr>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nazwa</th>
                                <th>Nazwa wyświetlana</th>
                                <th>Opis</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let attr of selected.attributesCollection" class="gray-on-hover">
                                <td>{{attr.id}}</td>
                                <td>{{attr.name}}</td>
                                <td>{{attr.viewName}}</td>
                                <td>{{attr.description}}</td>
                                <td>
                                    <button (click)="removeAttribute(attr.id)"
                                            class="btn btn-danger btn-sm text-uppercase"><i
                                            class="material-icons">remove_circle</i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <h6>El. konfiguracyjne</h6>
                            <hr/>
                        </div>
                        <ngx-treeview
                                [config]="config"
                                [items]="items"
                                (selectedChange)="onSelectedChange($event)"
                        >
                        </ngx-treeview>
                        <!--<ul class="list-group">-->
                        <!--<li class="list-group-item" *ngFor="let ci of citypes"-->
                        <!--[class.list-group-item-success]="selected === ci" (click)="changeSelected(ci)">-->
                        <!--{{ci.name}}, {{ci.description}}-->
                        <!--</li>-->
                        <!--</ul>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="modal-ci-form" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="">
            <div class="modal-body">
                <app-ci-form
                        [title]="modalTitle"
                        [createURI]="createURI"
                ></app-ci-form>
            </div>
        </div>
    </div>
</div>