<div class="row">
    <div class="col-md-12">
        <div class="card card-nav-tabs">
            <div class="card-header" data-background-color="blue">
                <h6>CI Type Manager</h6>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button (click)="openModal()" class="btn btn-success"><i
                                    class="glyphicon glyphicon-plus"></i> Stwórz Ci Type
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-9">
                        <hr>
                        <h5 *ngIf="!selected.name">Wybierz citype</h5>
                        <h5 *ngIf="selected.id">Szczegóły citype <strong>{{selected.name}}:</strong></h5>
                        <table *ngIf="selected.id" class="table table-striped animated fadeIn">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nazwa</th>
                                <th>Nazwa wyświetlana</th>
                                <th>Opis</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{selected.id}}</td>
                                <td>{{selected.name}}</td>
                                <td>{{selected.display_name}}</td>
                                <td>{{selected.description}}</td>
                                <td>
                                <td class="text-center">
                                    <button (click)="openEditCiTypeModal()" class="btn btn-sm btn-primary"><i
                                            class="material-icons">edit</i></button>
                                    <button (click)="deleteCiType(selected.id)"
                                            class="btn btn-danger btn-sm text-uppercase"><i
                                            class="material-icons">remove_circle</i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <h6>El. konfiguracyjne</h6>
                            <hr/>
                        </div>
                        <tree *ngIf="tree" [tree]="tree"
                              (nodeSelected)="handleSelected($event)"></tree>
                        <!--<ngx-treeview-->
                                <!--[config]="config"-->
                                <!--[items]="items"-->
                                <!--(selectedChange)="onSelectedChange($event)"-->
                        <!--&gt;-->
                        <!--</ngx-treeview>-->
                    </div>
                </div>
                <!--<hr>-->
            </div>
        </div>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="selected.name">
    <div class="col-md-12">
        <div class="card card-nav-tabs">
            <div class="card-header" data-background-color="green">
                <span>Atrybuty citype <strong>{{selected.name}}:</strong></span>
            </div>
            <div class="pull-right">
                <button (click)="openAddAttributeModal()" class="btn btn-sm btn-primary"><i
                        class="glyphicon glyphicon-plus"></i> Dodaj atrybut do citype {{selected.name}}
                </button>
            </div>
            <h6 *ngIf="!selected.attributesCollection.length">Zaznaczony citype nie posiada
                atrybutów</h6>
            <button *ngIf="!selected.attributesCollection.length"
                    (click)="openAddAttributeModal()"
                    class="btn btn-sm btn-primary"><i
                    class="glyphicon glyphicon-plus"></i> Dodaj atrybut do citype {{selected.name}}
            </button>
            <table *ngIf="selected.attributesCollection.length" class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nazwa</th>
                    <th>Nazwa wyświetlana</th>
                    <th>Opis</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let attr of selected.attributesCollection" class="gray-on-hover">
                    <td>{{attr.id}}</td>
                    <td>{{attr.name}}</td>
                    <td>{{attr.viewName}}</td>
                    <td>{{attr.description}}</td>
                    <td>
                        <button (click)="removeAttribute(attr.id)"
                                class="btn btn-danger btn-sm text-uppercase"><i
                                class="material-icons">remove_circle</i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal" id="edit-citype-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="card">
            <div class="card-header" data-background-color="blue">
                <h4 class="title">Edycja citype</h4>
                <p class="category">Wprowadź dane</p>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="col-md-12">
                        <div class="form-group form-black">
                            <label class="control-label">ID</label>
                            <input type="text" class="form-control" disabled
                                   [(ngModel)]="selected.id">
                        </div>
                        <div class="form-group form-black">
                            <label class="control-label">Nazwa</label>
                            <input type="text" class="form-control"
                                   [(ngModel)]="selected.name">
                        </div>
                        <div class="form-group form-black">
                            <label class="control-label">Nazwa wyświetlana</label>
                            <input type="text" class="form-control"
                                   [(ngModel)]="selected.display_name">
                        </div>
                        <div class="form-group form-black">
                            <label class="control-label">Opis</label>
                            <input type="text" class="form-control"
                                   [(ngModel)]="selected.description">
                        </div>
                    </div>
                    <button (click)="updateCiType()" type="submit" class="btn btn-primary pull-right"><i
                            class="fa fa-check"></i> Zapisz
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal-ci-form" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="">
            <div class="modal-body">
                <app-ci-form
                        [title]="modalTitle"
                        [createURI]="createURI"
                        [fatherID]="rootID"
                        [modalMode]="modalMode"
                        [selectedCiType]="selected"
                ></app-ci-form>
            </div>
        </div>
    </div>
</div>