
<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" id="inputEmail" class="form-control" placeholder="Użytkownik" required autofocus>
            <input type="password" id="inputPassword" class="form-control" placeholder="Hasło" required>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Zapamiętaj
                </label>
            </div>
            <button (click)="loginClick()" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Wejdź</button>
        </form><!-- /form -->
        <a href="#" class="forgot-password">
            Zapomniałeś hasła?
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->