# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
app/modules/**/*.css
app/modules/**/*.js
app/modules/**/*.map
e2e-tests/reports
e2e-tests/**/*.js
mockserver.log
jspm_packages
npm-debug.*
link-checker-results.txt
app/modules/**/*.js
app/*.js
app.module.js
*.js.map
app/testing/**/*.js
_test-output
_temp
modules/**/*.js
dist
dist/*