<div class="col-md-12 text-right">
    <button (click)="openModal()" class="btn btn-success"><i class="material-icons">add</i> Dodaj nowy</button>
</div>
<table class="table animated fadeIn">
    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>MAPPING</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let job of jobs">
        <td><a href="javascript:void(0)" (click)="openEditModal(job)">{{job.id}}</a></td>
        <td>{{job.name}}</td>
        <td>{{job.description}}</td>
        <td class="text-center">
            <button (click)="openMappingToJobModal(job.id)"
                    class="btn btn-primary btn-sm text-uppercase"><i
                    class="material-icons">add</i> przypisz mapping do joba
            </button>
            <ul style="text-align: left;" *ngFor="let map of job.mapping">
                <li><strong>mapping ID:</strong>{{map.id}}</li>
            </ul>
        </td>
        <td><button (click)="removeJob(job.id)" class="btn btn-danger btn-sm text-uppercase"><i class="material-icons">remove_circle</i></button> </td>
    </tr>
    </tbody>
</table>

<div class="modal" id="job-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="card">
            <div class="card-header" data-background-color="blue">
                <h4 class="title">{{title}}</h4>
                <p class="category">Wprowadź dane</p>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-black label-floating is-empty">
                                <label class="control-label">Name</label>
                                <input type="text" class="form-control"
                                       [(ngModel)]="newJob.name">
                            </div>
                            <div class="form-group form-black label-floating is-empty">
                                <label class="control-label">Description</label>
                                <input type="text" class="form-control"
                                       [(ngModel)]="newJob.description">
                            </div>
                        </div>
                    </div>
                    <button *ngIf="modalMode === 'create'" (click)="addJob()" type="submit" class="btn btn-primary pull-right"><i
                            class="fa fa-check"></i> Dodaj
                    </button>
                    <button *ngIf="modalMode === 'edit'" (click)="editJob()" type="submit" class="btn btn-primary pull-right"><i
                            class="fa fa-check"></i> Zapisz
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="job-mapping-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="card">
            <div class="card-header" data-background-color="blue">
                <h4 class="title">Przypisz mapping do joba</h4>
                <p class="category">Wprowadź dane</p>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="form-group form-black label-floating is-empty"
                         style="margin-top: 12px;">
                        <label class="col-md-3 margin-top-15">Mappingi</label>
                        <div class="col-md-9">
                            <select (change)="mappingSelected($event, map.value)" #map
                                    class="form-control form-control-margin"
                                    id="attributesSelect">
                                <option value="Wybierz"></option>
                                <option *ngFor="let map of mappings"
                                        value={{map.id}}>
                                    {{map.id}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <button (click)="addMappingToJob()" type="submit" class="btn btn-primary pull-right"><i
                            class="fa fa-check"></i> Dodaj mapping do joba
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>