<div class="container-fluid">
    <div class="card">
        <div class="card-header" data-background-color="blue">
            <h4 class="title">Tworzenie mappingu</h4>
            <p class="category">Wybierz ci type, atrybut i task</p>
        </div>
        <div class="card-content">
            <div class="row" *ngIf="citypes">
                <label class="col-md-3 margin-top-15">Typ CI</label>
                <div class="col-md-9">
                    <select (change)="ciTypeSelected($event, ciType.value)" #ciType class="form-control form-control-margin" name="end_hour" id="ciTypeSelect">
                        <option value="Wybierz"></option>
                        <option *ngFor="let ciType of citypes" value={{ciType.id}}>
                            {{ciType.name}}; {{ciType.description}}; {{ciType.id}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row animated fadeIn" *ngIf="attributes && newMapping.ciTypeID">
                <label class="col-md-3 margin-top-15">Atrybut</label>
                <div class="col-md-9">
                    <select (change)="attributeSelected($event, attr.value)" #attr class="form-control form-control-margin" name="end_hour" id="attributesSelect">
                        <option value="Wybierz"></option>
                        <option *ngFor="let attr of attributes.filter(attributesFilter)" value={{attr.id}}>
                            {{attr.name}}; {{attr.description}}; {{attr.id}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row animated fadeIn" *ngIf="tasks && newMapping.ciTypeID">
                <label class="col-md-3 margin-top-15">Task</label>
                <div class="col-md-5">
                    <select (change)="taskSelected($event, task.value)" #task class="form-control form-control-margin" name="end_hour" id="taskSelect">
                        <option value="Wybierz"></option>
                        <option *ngFor="let task of tasks.filter(tasksFilter)" value={{task.id}}>
                            {{task.name}}; {{task.command}}; {{task.id}}
                        </option>
                    </select>
                </div>
                <div class="col-md-4">
                    <div class=" form-black label-floating is-empty">
                        <button (click)="openCreateTask()" class="btn btn-success btn-group-justified"
                                style="display: table-row;"><i class="glyphicon glyphicon-plus"></i> Utwórz task
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="addTask" class="row animated fadeIn" style="border: 2px dashed #999;">
                <div class="col-md-6">
                    <div class="form-group form-black label-floating is-empty">
                        <label class="control-label">Nazwa</label>
                        <input type="text" class="form-control"
                               [(ngModel)]="newTask.name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-black label-floating is-empty">
                        <label class="control-label">Komenda</label>
                        <input type="text" class="form-control"
                               [(ngModel)]="newTask.command">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group form-black label-floating is-empty">
                        <label class="control-label">Typ zadania</label>
                        <input type="text" class="form-control"
                               [(ngModel)]="newTask.jobType">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group form-black label-floating is-empty">
                        <label class="control-label">Playbook</label>
                        <input type="text" class="form-control"
                               [(ngModel)]="newTask.playbook">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group form-black label-floating is-empty">
                        <button (click)="createNewTask()" class="btn btn-sm btn-secondary btn-outline"><i class="fa fa-plus"></i>
                        Nowy task</button>
                    </div>
                </div>
            </div>

            <button (click)="addMapping()" type="submit" class="btn btn-primary pull-right"><i
                    class="fa fa-check"></i> Dodaj
            </button>
            <div class="clearfix"></div>

        </div>
    </div>
</div>