<div class="container-fluid">
    <div class="card">
        <div class="card-header" data-background-color="blue">
            <h4 class="title">{{title}}</h4>
            <p class="category">Wprowadź dane i atrybuty</p>
        </div>
        <div class="card-content">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-black label-floating is-empty">
                        <label class="control-label">Nazwa</label>
                        <input type="text" class="form-control"
                               [(ngModel)]="newCI.name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-black label-floating is-empty">
                        <label class="control-label">Nazwa wyświetlana</label>
                        <input type="text" class="form-control"
                               [(ngModel)]="newCI.viewName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-black label-floating is-empty">
                        <div class="form-group form-black label-floating is-empty">
                            <label class="control-label">Opis</label>
                            <textarea class="form-control" rows="1"
                                      [(ngModel)]="newCI.description"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="form-group form-black label-floating is-empty"
                         style="margin-top: 12px;">
                        <label>Atrybuty</label>
                        <angular2-multiselect [data]="itemList"
                                              [(ngModel)]="selectedItems"
                                              [settings]="settings"
                                              (onSelect)="onItemSelect($event)"
                                              (onDeSelect)="OnItemDeSelect($event)"
                                              (onSelectAll)="onSelectAll($event)"
                                              (onDeSelectAll)="onDeSelectAll($event)"
                                              [ngModelOptions]="{standalone: true}">
                        </angular2-multiselect>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-black label-floating is-empty">
                        <button (click)="openCreateAttribute()" class="btn btn-success btn-group-justified"
                                style="display: table-row;"><i class="glyphicon glyphicon-plus"></i> Utwórz atrybut
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="addAttribute" class="row animated fadeIn" style="border: 2px dashed #999;">
                <div class="col-md-9">
                    <div class="form-group form-black label-floating is-empty">
                        <label class="control-label">Nazwa</label>
                        <input type="text" class="form-control"
                               [(ngModel)]="newAttribute.name">
                    </div>
                </div>
                <!--<div class="col-md-3">-->
                    <!--<div class="form-group form-black label-floating is-empty">-->
                        <!--<label class="control-label">Opis</label>-->
                        <!--<input type="text" class="form-control"-->
                               <!--[(ngModel)]="newAttribute.description">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-3">-->
                    <!--<div class="form-group form-black label-floating is-empty">-->
                        <!--<label class="control-label">Nazwa wyświetlana</label>-->
                        <!--<input type="text" class="form-control"-->
                               <!--[(ngModel)]="newAttribute.viewName">-->
                    <!--</div>-->
                <!--</div>-->
                <div class="col-md-3">
                    <div class="form-group form-black label-floating is-empty">
                        <button (click)="createNewAttribute()" class="btn btn-xs btn-secondary"><i class="fa fa-plus"></i>
                        nowy atrybut</button>
                    </div>
                </div>
            </div>

            <button (click)="createCi()" type="submit" class="btn btn-primary pull-right"><i class="fa fa-check"></i> Zastosuj</button>
            <div class="clearfix"></div>

        </div>
    </div>
</div>